.game-die-roll {
    text-align: center;
    margin: 20px;
    display: inline-block;
}

.game-die-roll-art {
    font-family: monospace;
    line-height: 1;
}

.statistics {
    margin: 20px;
    display: inline-block;

    & * {
        display: inline-block;
    }
}
